---
import { type CollectionEntry, render } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

const MAX_POSTS = 11;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

const firstPost = latestPosts[0];
const { Content } = await render(firstPost);

// 2番目以降の過去記事リスト
const pastPosts = latestPosts.slice(1);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="mt-12">
		{/* 最新記事の全文表示エリア */}
		<article class="prose prose-cactus max-w-none">
			<h1 class="title mb-2 text-2xl text-accent">
				<a href={`/burogu/posts/${firstPost.id}/`} class="hover:underline">{firstPost.data.title}</a>
			</h1>
			<p class="mb-6 text-sm text-gray-500">
				{firstPost.data.publishDate.toLocaleDateString("ja-JP", { year: 'numeric', month: '2-digit', day: '2-digit' })}
			</p>
			<div class="mt-4 markdown-body">
				<Content />
			</div>
		</article>

		<hr class="my-12 border-dashed border-textColor/30" />

		{/* 過去記事一覧エリア */}
		<div class="mt-12">
			<h2 class="title mb-6 text-xl text-accent">Past Posts</h2>
			<ul class="space-y-4" role="list">
				{
					pastPosts.map((p) => (
						<li class="list-none ps-0">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</div>
	</section>
</PageLayout>